*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 50px;
}

h1{
    font-size: 50px;
    margin-bottom: 40px;
}

h2{
    margin-top: 30px;
}

.first{
    color:red;
}

#your-name{
    padding: 5px;
    color: rgb(82, 82, 213);
    background-color: bisque;
    border: 3px saddlebrown solid;
}